body {
  font-family: "Roboto", sans-serif;
  padding: 1em 1em;
  background-color: #fff;
  color: #666;
}

p {
  padding-right: 10px;
  line-height: 1.5em;
}

ul {
  padding-right: 40px;
  line-height: 1.5em;
}

.resume {
  margin: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 30px;
  grid-template-areas:
    "buttons"
    "name"
    "about"
    "work"
    "education"
    "awards";
}

.portfolio {
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.portfolio-content {
  margin-bottom: 50px;
}

.portfolio-content.image-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.portfolio-content.image-right {
  display: flex;
  flex-direction: column;
}

.portfolio-content .content {
  margin-bottom: 25px;
}

.portfolio-content .image {
  margin: auto;
}

.portfolio-content .image img {
  max-height: 250px;
  max-width: 100%;
}

section.name {
  grid-area: name;
}

section.name h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

section.name h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

section.name h4 {
  margin-bottom: 0px;
}

section.name h4 {
  font-size: 1em;
}

section.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 40px;
}

section.about {
  grid-area: about;
  margin-bottom: 20px;
}

section.work {
  grid-area: work;
}

section.education {
  grid-area: education;
}

section.awards {
  grid-area: awards;
}

section.portfolio {
  grid-area: portfolio;
}

.sectionHeader {
  border-bottom: 1px solid #d9d9d9;
}

.colouredHeader {
  color: #4468b1;
}

section.about p {
  font-style: italic;
}

section article {
  margin-top: 30px;
  margin-bottom: 50px;
}

section article a {
  text-decoration: underline;
  font-weight: bold;
  color: #4468b1;
}

h1 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 3px;
}

h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 3px;
}

h4 {
  font-size: 0.8em;
  color: #999;
  margin-top: 0;
}

.sectionHeader {
  font-size: 1em;
  padding-bottom: 20px;
}

#nav-bitbucket {
  display: none;
}

.button {
  background-color: #4468b1;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 80px;
}

.button:hover {
  opacity: 0.8;
}

.button i {
  display: block;
  padding-bottom: 7px;
}

@media only screen and (min-width: 621px) and (max-width: 1100px) {
  body {
    padding: 1em 2em;
  }
  .resume {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name buttons"
      "about buttons"
      "work work"
      "education education"
      "awards awards";
  }
  section.buttons {
    margin: auto 0;
    display: block;
  }
  .button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .button i {
    display: inline;
    margin-right: 10px;
  }
  #nav-bitbucket {
    display: block;
  }
}

@media only screen and (min-width: 1100px) {
  body {
    padding: 1em 5%;
  }
  p {
    padding-right: 40px;
  }

  ul {
    padding-right: 120px;
  }
  .resume {
    max-width: 1400px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name buttons"
      "about buttons"
      "work education"
      "work awards"
      "work .";
  }
  .portfolio {
    max-width: 1400px;
  }
  .portfolio-content .content {
    margin-bottom: 0;
  }
  .portfolio-content.image-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .portfolio-content.image-right {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  section.buttons {
    margin: auto 0;
    display: block;
  }
  .button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .button i {
    display: inline;
    margin-right: 10px;
  }
  #nav-bitbucket {
    display: block;
  }
}
